.countriesWe{
  width:250px !important;
}

.client{
  width:200px !important;
  height:101px !important;
}



.teamheding{
 color: #D66B36;
 text-align:center;
 font-size:40px;
 font-weight:900

}
.teammapper{
  margin-top:70px;
  display: flex;
  justify-content: center;
  gap:10px;
}

.team{
height:130px !important;
width:130px !important;
border-radius: 130px;

}
.teamcard{
  display: flex;
  flex-direction:column;
  align-items:center;
  height:400px;
  background-color:#FEFEFE;
  width:200px;
  border-radius:10px;
  padding-top:25px;
  box-shadow: 2px 2px #A0A0A0;
}

.teamname{
  margin-top:25px;
  font-size:10px;
  padding-left:25PX;
  padding-right:25px;
}

.countriescontainer{
  display:flex;
  gap:25px;
}


.menubar{
  display:none;
}

.mobilejobs{
  display:none
}

.footercontainer{
  display: flex;
  justify-content: space-between;
  height:40px;
  align-items:center;
  padding-left:10%;
  padding-right:10%;
}


@media (min-width: 1500px) {
  .container {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    height: 40px;
    align-items: center;
    color: white;
    background-color: #267adf ;
    font-size: 11px;
  }

  .logocontainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content:center;
    gap:700px;
    align-items: center;
   
  }

  .logo {
    width: 200px;
    max-height: 70px;
    justify-self: center;
    margin-right:100px;
  }

  .socialcontainer {
    display: flex;
    gap: 10px;
  }

  .socialmedia {
    max-width: 14px;
    max-height: 14px;
  }

  /* //appbar */

  .appbar {
    height: 100px;
    padding-left: 10px;
    padding-right: 25px;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    align-items: center;
    color: #222222;
    justify-content: space-between;
  }
  .appbarcontainer {
    height: 55px;
    padding-left: 10px;

    display: flex;
    color: #333333;
    gap: 10px;
  }

  .menuitem {
    padding-left: 7px;
    padding-right: 7px;
    
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  
    align-self:center;
    border-style: none !important;

   
    
  }
  .menuitem:hover {
  
    cursor: pointer !important;
  }
  .dropdownitem {
    padding-left: 7px;
    padding-right: 7px;
color:#333333 !important;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: white !important;
    height: 100%;
    border-style: none !important;
    box-shadow: none !important;
    
  }
  .dropdownitem:hover {
    
    cursor: pointer;
  }
  

  .apply {
    padding-left: 7px;

    padding-top: 16px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    justify-self: flex-end;
  }
  .apply:hover {
    background-color: #4b4b7d;
    cursor: pointer;
  }

  /* slider container */

  .slidercontainer {
   height:150px;
   height: 70vh;
    
  }
  .sliderimagecontainer{
  
  }
  .sliderimage {
    width: 100%;
    height: 70vh;
  }

  /*introduction*/

  .introduction {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    gap: 100px;
  
    height:61vhvh;
    position: relative;
    background-color:#F2F2F0;
  }

  .intro_image {
    width: 400px;
    height: 61vh;
  }

  .introduction_text_container_box {
    flex: 1;
  }

  .introduction_heading {
    font-size: 19px;
    font-weight: 500;
    color: #636363;
    text-transform:uppercase;
    margin-top:70px;
    margin-bottom:16px
  }
  .introduction_subheading {
    font-size: 34px;
    font-weight: 500;
    color: #DFC370;
    text-transform:uppercase
  }
  .introduction_loadmore{
    background-color:#DFC370 !important ; 
    border-style: solid;
    border-width: 2px;
    border-color: #DFC370 !important ;
    box-shadow:none !important;
  }


  .introduction_loadmore:hover{
    background-color:white !important ; 
    border-style: solid;
    border-width: 2px;
    border-color: #DFC370 !important ;
    color:#DFC370 ;
  }


  .introduction_shortdescription {
    color: #DFC370  !important ;
    margin-top:40px;
    margin-bottom:37px;
    width:500px


  }
  

  /*services*/

  .servicesmapper {
    display: flex;
   
    gap: 25px;
    justify-content: center;
  }

 .servicesmap {
    display: grid;
   grid-template-columns: 250px 250px 250px 250px ;
    gap: 25px;

  }

  .servicescontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-image: url("/uploads/dubaidark.jpg"); */
 height:55vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 82px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .servicecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }

  .jobs_available_crousal{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 15%;
      padding-right: 15%;
      width: 100%;
  }

  .servicescard {
    width: 310px;
    background-color: #f8f8f8;
  }

  .serviceheading {
    font-size: 34px;
    margin-bottom: 25px;
 margin-top:25px;
    font-weight: 700;
  }

  .servicediv{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
  }
  .serviceimg{
    height:100px;
    width:100px;
    border-radius:70px
  }

  .servicetext{
    font-size: 19px;
    font-weight:700
  }

  .jobs_card_available {
    height: 160px !important;
    width:250px
  }
  .jobs_cad_available {
    height: 100px !important;
    width:100px !important;
    border-radius: 70px;
  }
  .jobcard{
    width:250px !important;

  }
  .jobsheading {
    font-size: 40px;
    margin-bottom: 25px;
    color: black;
    font-weight: 700;
  }

  .jobs_categories_bx {
    display: flex;
    height:49vh;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("http://webdesign-finder.com/human-consult/wp-content/uploads/2017/06/texture2.jpg");
  }
  .jobs_categories_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
  
    
  }
  .jobavailable_container{
    width:100%;
    display:grid;
    grid-template-columns: 280px 280px 280px 280px;
    justify-content: center;
    gap:70px
  }
  .jobs_available_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("/uploads/dubaidark.jpg");
    
  }

  .countryname{
    font-size: 55px;
    font-weight: 900px;
  }

  

 
  .teamcontainer{
    margin-top: 40px;
    height:700px;
    margin-left:15%;
    margin-right:15%;
    padding-top:55px;
   background-color: #E4E4E4;
  }


  /* footor */
  .footer_container {
    height: 370px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #242424;
    display: flex;
  }

  .footor_name {
    color: white;
    font-size: 25px;
    font-family: serif;
    margin-top: 25px;
    margin-bottom: 16px;
  }

  .footor_address {
    color: #89909c;
  }

  .footor_email {
    color: white;
    font-size: 11px;
    height: 40px;
    background-color: #333333;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navigation_container {
    color: white;
    margin-left: 100px;
    padding-top: 25px;
    font-size: 25px;
    font-family: serif;
    max-width: 400px;
  }

  .footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer_navitem {
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 13px;
    width: 200px;
    cursor: pointer;
  }

  .footer_navitem:hover {
    background-color: #267adf;
  }

  /* image gallery */
  .imagecontainer_gellery {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: center;
    gap: 25px;
  }

  .imageitem_gallery {
    width: 250px;
  }

  /* jobs listing */
  .jobcontainer {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 400px;
  }

  /* Services page */
  .servicespage {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: center;
    gap: 25px;
  }
}

@media (min-width: 1100px) {
  @media (max-width: 1499px) {
    .container {
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      height: 70px;
      align-items: center;
      color: white;
      background-color: #0070d2;
    }

    .logocontainer {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
    }

    .logo {
      width: 200px;
      max-height: 70px;
    }

    .socialcontainer {
      display: flex;
      gap: 10px;
    }

    .socialmedia {
      max-width: 25px;
      max-height: 25px;
    }

    /* //appbar */

    .appbar {
      height: 55px;
      padding-left: 10px;
      padding-right: 25px;
      margin-left: 5%;
      margin-right: 5%;
      background-color: #0070d2;
      display: flex;
      color: white;
      justify-content: space-between;
    }
    .appbarcontainer {
      height: 55px;
      padding-left: 10px;

      display: flex;
      color: white;
      gap: 10px;
    }
    .menuitem {
      padding-left: 7px;
      padding-right: 7px;
      
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      background-color: #0070d2 !important;
      align-self:center;
      border-style: none !important;
  
     
      
    }
    .menuitem:hover {
      background-color: #4b4b7d;
      cursor: pointer !important;
    }
    .dropdownitem {
      padding-left: 7px;
      padding-right: 7px;

      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      background-color: #0070d2 !important;
      height: 100%;
      border-style: none !important;
    }
    .dropdownitem:hover {
      background-color: #4b4b7d !important;
      cursor: pointer;
    }

    .apply {
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 16px;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      justify-self: flex-end;
    }
    .apply:hover {
      background-color: #4b4b7d;
      cursor: pointer;
    }

    /* slider container */

    .slidercontainer {
      padding-left: 5%;
      padding-right: 5%;
    }

    .sliderimage {
      width: 100%;
      height: 400px;
    }

    /*introduction*/

    .introduction {
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      gap: 100px;
      padding-top: 55px;
    }

    .intro_image {
      width: 400px;
      height: 245px;
    }

    .introduction_text_container_box {
      flex: 1;
    }

    .introduction_heading {
      font-size: 31px;
      font-weight: 700;
      color: #636363;
    }

    .introduction_shortdescription {
      color: #8c8c8c;
    }

    /*services*/

    .servicesmapper {
      display: flex;
      gap: 25px;
      justify-content: center;
    }

    .servicescontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-image: url("/uploads/mteverest.jfif");
      margin-top: 55px;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 40px;
      padding-bottom: 70px;
      margin-left: 5%;
      margin-right: 5%;
    }

    .servicecontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }

    .servicescard {
      width: 310px;
      background-color: #f8f8f8;
    }

    .serviceheading {
      font-size: 34px;
      margin-bottom: 25px;
      color: white;
      font-weight: 700;
    }

    .jobs_card_available {
      height: 160px !important;
    }

    .jobsheading {
      font-size: 34px;
      margin-bottom: 25px;
      color: black;
      font-weight: 700;
    }

    .jobs_categories_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    /* footor */
    .footer_container {
      height: 370px;
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #242424;
      display: flex;
    }

    .footor_name {
      color: white;
      font-size: 25px;
      font-family: serif;
      margin-top: 25px;
      margin-bottom: 16px;
    }

    .footor_address {
      color: #89909c;
    }

    .footor_email {
      color: white;
      font-size: 11px;
      height: 40px;
      background-color: #333333;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .navigation_container {
      color: white;
      margin-left: 100px;
      padding-top: 25px;
      font-size: 25px;
      font-family: serif;
      max-width: 400px;
    }

    .footer_nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .footer_navitem {
      height: 40px;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      font-size: 13px;
      width: 200px;
      cursor: pointer;
    }

    .footer_navitem:hover {
      background-color: #267adf;
    }

    /* image gallery */
    .imagecontainer_gellery {
      display: grid;
      grid-template-columns: 200px 200px 200px 200px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      justify-content: center;
      gap: 25px;
    }

    .imageitem_gallery {
      width: 200px;
    }

    /* Services page */
    .servicespage {
      display: grid;
      grid-template-columns: 200px 200px 200px 200px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      justify-content: center;
      gap: 25px;
    }

    .jobcontainer {
      padding-top: 55px;
      padding-bottom: 55px;
      padding-left: 10%;
      padding-right: 10%;
      min-height: 400px;
    }
  }
}

@media (min-width: 992px) {
  @media (max-width: 1099px) {
    .container {
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      height: 55px;
      align-items: center;
      color: white;
      background-color: #0070d2;
      font-size:13px
    }

    .logocontainer {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
    }

    .logo {
      width: 200px;
      max-height: 70px;
    }

    .socialcontainer {
      display: flex;
      gap: 10px;
    }

    .socialmedia {
      max-width: 25px;
      max-height: 25px;
    }

    /* //appbar */

    .appbar {
      height: 55px;
      padding-left: 10px;
      padding-right: 25px;
      margin-left: 5%;
      margin-right: 5%;
      background-color: #0070d2;
      display: flex;
      color: white;
      justify-content: space-between;
    }
    .appbarcontainer {
      height: 55px;
      padding-left: 10px;

      display: flex;
      color: white;
      gap: 4px;
    }

    .menuitem {
      padding-left: 7px;
      padding-right: 7px;
      
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      border-style: none !important;
      background-color: #0070d2;
      align-self:center
    }
    .menuitem:hover {
      background-color: #4b4b7d !important;
      cursor: pointer;
    }

    .dropdownitem {
      padding-left: 7px;
      padding-right: 7px;

      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      background-color: #0070d2 !important;
      height: 100%;
      border-style: none !important;
    }
    .dropdownitem:hover {
      background-color: #4b4b7d !important;
      cursor: pointer;
    }

    .apply {
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 16px;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      justify-self: flex-end;
    }
    .apply:hover {
      background-color: #4b4b7d;
      cursor: pointer;
    }

    /* slider container */

    .slidercontainer {
      padding-left: 5%;
      padding-right: 5%;
    }

    .sliderimage {
      width: 100%;
      height: 400px;
    }

    /*introduction*/

    .introduction {
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      gap: 100px;
      padding-top: 55px;
    }

    .intro_image {
      width: 400px;
      height: 340px;
    }

    .introduction_text_container_box {
      flex: 1;
    }

    .introduction_heading {
      font-size: 31px;
      font-weight: 700;
      color: #636363;
    }

    .introduction_shortdescription {
      color: #8c8c8c;
    }

    /*services*/

    .servicesmapper {
      display: flex;
      gap: 25px;
      justify-content: center;
    }

    .servicescontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-image: url("/uploads/mteverest.jfif");
      margin-top: 55px;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 40px;
      padding-bottom: 70px;
      margin-left: 5%;
      margin-right: 5%;
    }

    .servicecontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }

    .servicescard {
      width: 310px;
      background-color: #f8f8f8;
    }

    .serviceheading {
      font-size: 34px;
      margin-bottom: 25px;
      color: white;
      font-weight: 700;
    }

    .jobs_card_available {
      height: 160px !important;
    }

    .jobsheading {
      font-size: 34px;
      margin-bottom: 25px;
      color: black;
      font-weight: 700;
    }

    .jobs_categories_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    /* footor */
    .footer_container {
      height: 370px;
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #242424;
      display: flex;
    }

    .footor_name {
      color: white;
      font-size: 25px;
      font-family: serif;
      margin-top: 25px;
      margin-bottom: 16px;
    }

    .footor_address {
      color: #89909c;
    }

    .footor_email {
      color: white;
      font-size: 11px;
      height: 40px;
      background-color: #333333;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .navigation_container {
      color: white;
      margin-left: 100px;
      padding-top: 25px;
      font-size: 25px;
      font-family: serif;
      max-width: 400px;
    }

    .footer_nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .footer_navitem {
      height: 40px;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      font-size: 13px;
      width: 200px;
      cursor: pointer;
    }

    .footer_navitem:hover {
      background-color: #267adf;
    }

    /* image gallery */
    .imagecontainer_gellery {
      display: grid;
      grid-template-columns: 200px 200px 200px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      justify-content: center;
      gap: 25px;
    }

    .imageitem_gallery {
      width: 200px;
    }

    /* Services page */
    .servicespage {
      display: grid;
      grid-template-columns: 200px 200px 200px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      justify-content: center;
      gap: 25px;
    }

    .jobcontainer {
      padding-top: 55px;
      padding-bottom: 55px;
      padding-left: 10%;
      padding-right: 10%;
      min-height: 400px;
    }
    
  }
}

@media (min-width: 768px) {
  @media (max-width: 991px) {
    .container {
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      height: 40px;
      align-items: center;
      color: white;
      background-color: #0070d2;
      font-size:13px
    }

    .logocontainer {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
    }

    .logo {
      width: 200px;
      max-height: 70px;
    }

    .socialcontainer {
      display: flex;
      gap: 10px;
    }

    .socialmedia {
      max-width: 25px;
      max-height: 25px;
    }

    /* //appbar */

    .appbar {
      height: 40px;
      padding-left: 10px;
      padding-right: 25px;
      margin-left: 5%;
      margin-right: 5%;
      background-color: #0070d2;
      display: flex;
      color: white;
      justify-content: space-between;
    }
    .appbarcontainer {
      height: 40px;
      padding-left: 10px;

      display: flex;
      color: white;
      gap: 4px;
    }

    .menuitem {
      padding-left: 2px;
      padding-right: 2px;
align-self:center;
      font-weight: 700;
      background-color: #0070d2 !important;
      text-transform: uppercase;
      font-size: 9px;
 
      text-transform: uppercase;
    }
    .menuitem:hover {
      background-color: #4b4b7d;
      cursor: pointer;
    }
    .dropdownitem {
      padding-left: 2px;
      padding-right: 2px;
      height:40px;
      font-weight: 700;
      font-size: 9px;
      text-transform: uppercase;
      background-color: #0070d2 !important;
   align-self:center;
      border-style: none !important;
    }
    .dropdownitem:hover {
      background-color: #4b4b7d !important;
      cursor: pointer;
    }

    .apply {
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 6px;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      justify-self: flex-end;
    }
    .apply:hover {
      background-color: #4b4b7d;
      cursor: pointer;
    }

    /* slider container */

    .slidercontainer {
      padding-left: 5%;
      padding-right: 5%;
    }

    .sliderimage {
      width: 100%;
      height: 200px;
    }

    /*introduction*/

    .introduction {
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      gap: 100px;
      padding-top: 25px;
    }

    .intro_image {
      width: 250px;
      height: 220px;
    }

    .introduction_text_container_box {
      flex: 1;
    }

    .introduction_heading {
      font-size: 19px;
      font-weight: 700;
      color: #636363;
    }

    .introduction_shortdescription {
      color: #8c8c8c;
      height: 170px;
      overflow: hidden;
      text-overflow: unset;
    }

    /*services*/

    .servicesmapper {
      display: flex;
      gap: 15px;
      justify-content: center;
    }

    .servicescontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-image: url("/uploads/mteverest.jfif");
      margin-top: 55px;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 40px;
      padding-bottom: 70px;
      margin-left: 5%;
      margin-right: 5%;
    }

    .servicecontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }

    .servicescard {
      width: 310px;
      background-color: #f8f8f8;
    }

    .serviceheading {
      font-size: 34px;
      margin-bottom: 25px;
      color: white;
      font-weight: 700;
    }

    .jobs_card_available {
      height: 160px !important;
    }

    .jobsheading {
      font-size: 34px;
      margin-bottom: 25px;
      color: black;
      font-weight: 700;
    }

    .jobs_categories_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    /* footor */
    .footer_container {
      height: 370px;
      width: 100%;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #242424;
      display: flex;
    }

    .footor_name {
      color: white;
      font-size: 16px;
      font-family: serif;
      margin-top: 25px;
      margin-bottom: 16px;
    }

    .footor_address {
      color: #89909c;
    }

    .footor_email {
      color: white;
      font-size: 7px;
      height: 28px;
      background-color: #333333;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .navigation_container {
      color: white;
      margin-left: 100px;
      padding-top: 25px;
      font-size: 16px;
      font-family: serif;
      max-width: 400px;
    }
    .footertext{
      font-size:13px;
    }
    .footer_nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .footer_navitem {
      height: 28px;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      font-size: 13px;
      width: 200px;
      cursor: pointer;
    }

    .footer_navitem:hover {
      background-color: #267adf;
    }

    

    /* image gallery */
    .imagecontainer_gellery {
      display: grid;
      grid-template-columns: 200px 200px 200px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      justify-content: center;
      gap: 25px;
    }

    .imageitem_gallery {
      width: 200px;
    }
    /* Services page */
    .servicespage {
      display: grid;
      grid-template-columns: 200px 200px 200px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 55px;
      padding-bottom: 55px;
      justify-content: center;
      gap: 25px;
    }
  }
}



@media (max-width:766px){

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height: 40px;
  align-items: center;
  color: white;
  background-color: #0070d2;
  font-size:7px
}

.socialcontainer {
  display: flex;
  gap: 10px;
}

.socialmedia {
  max-width: 10px;
  max-height: 10px;
}


.logocontainer {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content:center;

  align-items: center;
 
}

.logo {
  width: 160px;
  max-height: 70px;
  justify-self: center;
  margin-right:10px;
}



/* //appbar */

.appbar {
  height: 100px;
  padding-left: 10px;
  padding-right: 25px;


  display: flex;
  align-items: center;
  color: #222222;
  justify-content: space-between;
}
.appbarcontainer {
  height: 55px;


  display: flex;
  color: #333333;
  gap: 10px;
  
}



.menucontainer{
  display: none !important;
}


.menuitem {
  padding-left: 7px;
  padding-right: 7px;
  
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  align-self:center;
  border-style: none !important;

 
  
}
.menuitem:hover {

  cursor: pointer !important;
}
.dropdownitem {
  padding-left: 7px;
  padding-right: 7px;
color:#333333 !important;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background-color: white !important;
 
  border-style: none !important;
  box-shadow: none !important;
  
}
.dropdownitem:hover {
  
  cursor: pointer;
}


.apply {
 display:none;
}

.menubar{
  display:flex !important;
}

/* slider container */

.slidercontainer {
 height:150px;
 height: 55vh;
  
}
.sliderimagecontainer{

}
.sliderimage {
  width: 100%;
  height: 55vh;
}

/*introduction*/

.introduction {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  gap: 100px;
padding-bottom: 25px;
  height:61vhvh;
  position: relative;
  background-color:#F2F2F0;
}

.intro_image {
  display: none;
  width: 400px;
  height: 61vh;
}

.introduction_text_container_box {
  flex: 1;
}

.introduction_heading {
  font-size: 13px;
  font-weight: 500;
  color: #636363;
  text-transform:uppercase;
  margin-top:25px;
  margin-bottom:16px
}
.introduction_subheading {
  font-size: 22px;
  font-weight: 500;
  color: #DFC370;
  text-transform:uppercase
}
.introduction_loadmore{
  background-color:#DFC370 !important ; 
  border-style: solid;
  border-width: 2px;
  border-color: #DFC370 !important ;
  box-shadow:none !important;
}


.introduction_loadmore:hover{
  background-color:white !important ; 
  border-style: solid;
  border-width: 2px;
  border-color: #DFC370 !important ;
  color:#DFC370 ;
}


.introduction_shortdescription {
  color: #DFC370  !important ;
  margin-top:10px;
  margin-bottom:37px;
  width:80vw;
  font-size:10 px !important;


}


/*services*/

.servicesmapper {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.servicescontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 

  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 82px;
  padding-left: 10%;
  padding-right: 10%;
}

.servicecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.servicescard {
  width: 310px;
  background-color: #f8f8f8;
}

.serviceheading {
  font-size: 34px;
  margin-bottom: 25px;
  color: white;
  font-weight: 700;
}

.jobs_card_available {
  width:200px
}
.jobs_cad_available {
  height: 100px !important;
  width:100px !important;
  border-radius: 70px;
}
.jobsheading {
  font-size: 25px;
  margin-bottom: 25px;
  color: black;
  font-weight: 500;
}
.jobavailable_container{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.jobs_categories_bx {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
  background-image: url("http://webdesign-finder.com/human-consult/wp-content/uploads/2017/06/texture2.jpg");
}

.jobs_categories_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.jobs_available_crousal{
  display:none
}

.mobilejobs{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:25px;
}

.jobsheading{
  text-align: center;
  font-size:40px;
  font-weight:700;
}

/* footor */
.footer_container {

  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #242424;
  
}

.footor_name {
  color: white;
  font-size: 31px;
  font-family: serif;
  margin-top: 25px;
  margin-bottom: 16px;
}

.footor_address {
  color: #89909c;
}

.footor_email {
  color: white;
  font-size: 11px;
  height: 40px;
  width:350px;
  background-color: #333333;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.navigation_container {
  color: white;

  padding-top: 25px;
  font-size: 25px;
  font-family: serif;
  max-width: 400px;
}

.footer_nav {
  
}

.footer_navitem {
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
  width: 200px;
  cursor: pointer;
}

.footer_navitem:hover {
  background-color: #267adf;
}

.footertext{
  font-size:10px
}


.footercontainer{

}

/* image gallery */
.imagecontainer_gellery {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 55px;
  padding-bottom: 55px;
  justify-content: center;
  gap: 25px;
}

.imageitem_gallery {
  width: 250px;
}

/* jobs listing */
.jobcontainer {
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 400px;
}

/* Services page */
.servicespage {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 55px;
  padding-bottom: 55px;
  justify-content: center;
  gap: 25px;
}





.teamcontainer{
  margin-top: 40px;
  
  margin-left:5%;
  margin-right:5%;
  padding-top:55px;
 background-color: #E4E4E4;
 padding-bottom:25px;
}

.teamheding{
 color: #D66B36;
 text-align:center;
 font-size:40px;
 font-weight:900

}
.teammapper{
  margin-top:70px;
  display: flex;
  flex-direction: column;
  align-items:center;
 
}

.team{
height:130px !important;
width:130px !important;
border-radius: 130px;

}
.teamcard{
  display: flex;
  flex-direction:column;
  align-items:center;
  height:400px;
  background-color:#FEFEFE;
  width:310px;
  border-radius:10px;
  padding-top:25px;
  box-shadow: 2px 2px #A0A0A0;
}

.teamname{
  margin-top:25px;
  font-size:13px;
  padding-left:25PX;
  padding-right:25px;
}


}