.container{
    width:100%;
    min-height:100vh;
    display:flex;
    padding-left: 20px;
}

.sidebarcontainer{
    width:250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
    padding-top: 25px;
    padding-bottom: 70px;
}

.sidebar{
    width:160px;
    min-height:550px;
    background-color: black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeicon_wrapper{
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
.homeicon_wrapper:hover{background-color: red;}
.icon_wrapper:hover{background-color: red;}
.l_icon_wrapper:hover{background-color: red;}
.icon{
    width:25px;
   height:100px;
  margin-top: 40px;  
    align-self: center;
}

.label{
    color:white;
    font-size: 13px;
    cursor: pointer;
}

.icon_wrapper{
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
}

.l_icon_wrapper{
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  padding-bottom: 40px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.children{
    min-height:100vh;
    flex:1;
  
}